{% import "form.njk" as form %}

{% set lang = "fr" %}
{% set title = "Éditeur" %}

{% extends "html5.njk" %}

{% block head %}
<link rel="stylesheet" href="/styles/styles.css" />
<link rel="stylesheet" href="/styles/palette.css" />
<link rel="stylesheet" href="/styles/form.css" />
{% endblock %}

{% block body %}

<h1>Éditeur</h1>

<!--
<div>
	<span class="label">Depuis:</span>
	<span class="input text" contenteditable="true" spellcheck="false"></span>
	<span class="label">A:</span>
	<span class="input text" contenteditable="true" spellcheck="false"></span>
</div>
<p id="{{id}}" class="input text" contenteditable="true" spellcheck="false">{{value | escape}}</p>

{{ form.fake("name") }}
{{ form.fake("df") }}
{{ form.fake("sdsdd") }}
-->

<div id="form"></div>

<script type="module" src="/scripts/thing.mjs"></script>

{% endblock %}
