
.input.text
	{
	background-color: #E2E2E2;
	background-color: #FFF;
	background-color: var(--apricot);
	padding: .25rem .5rem;
	border-radius: .25rem;
	}

span.input.text
	{
	min-width: 8rem;
	vertical-align: middle;
	display: inline-block;
	}

.input.text:focus
	{
	outline: none;
	}
